<%- include('../includes/head.ejs') %>
<!-- I HAD TO ADD THE STYLESHEETS BECAUSE IT WAS A LINK FROM ANOTHER CONTROLLER -->
<link rel="stylesheet" href="/css/main.css"> 
<link rel="stylesheet" href="/css/rate.css"> 
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
<div class="container">
  <div class="myprofile-wrapper">
    <div class="row">
      <div class="col-md">
        <h1><%= user.name %></h1>
      </div>
      <div class="col-md">      
        <form class="rate" action="/rate-user" method="POST"> 
          <div class="row">
              
            <div class="rate col-md">
              
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="userId" value="<%= user._id %>">            
            </div>  
            <div class="col-md">
              <button class="btn btn-info" type="submit">Потврди оцена</button>
            </div>         
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h3>Превози од <%= user.name %></h3>
        
            <table class="table transports-table">
              <div class="table-wrapper">
                  
                    <thead class="thead">
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Поаѓање од</th>
                        <th scope="col">Пристигнување во</th>
                        <th scope="col">Датум</th>
                        <th scope="col">Час</th>
                        <th scope="col">Цена</th>
                      </tr>
                    </thead>
                  <tbody>
                    <% transports.forEach(t=> { %>
                          <tr data-href="/transports/<%= t._id%>">
                            <!-- <th scope="row">1</th> -->
                            <td><%= t.from %></td>
                            <td><%= t.to %></td>
                            
                            <td><%= t.time %></td>
                            <td><%= t.price %> ден.</td>
                          </tr>
                        
                    <% }) %>
                  </tbody>
              </table>
            </div>
      </div>
    
  </div>
</div>
  
<%- include('../includes/end.ejs') %>