<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="create-transport-wrapper">
    <h1>Додај нов транспорт</h1>
    <form  class="transport-form" action="/create-transport" method="POST">
      <label for="type">Барам/Нудам</label>
      <select name="type" id="type">
        <option value="offer">Нудам Превоз</option>
        <option value="want">Варам Превоз</option>
      </select>

      <div class="form-group" >
        <label for="from">Од:</label>
        <input class="form-control" type="text" name="from" id="form">
      </div>

      <div class="form-group" >
        <label for="to">До:</label>
        <input class="form-control" type="text" name="to" id="to">
      </div>
      <div class="form-group">
        <label for="date">Дата:</label>
        <select class="form-control" name="date" id="date">
            <% dates.forEach(d => { %>
              <option><%= days[d.getDay()] %>, <%= d.getDate() %>.<%= d.getMonth() + 1 %>.<%= d.getFullYear() %></option>
            <%})%>
        </select>
      </div>
      <div class="form-group">
          <label for="time">Време:</label>
          <input class="form-control" type="text" name="time" id="time">
      </div>
      <div class="form-group" >
        <label for="price">Цена:</label>
        <input class="form-control" type="number" name="price" id="price">
      </div>
      <div class="form-group" >
        <label for="passengers">Слободни места:</label>
        <input class="form-control" type="number" name="passengers" id="passengers">
      </div>
      <div class="form-group" >
        <label for="vechile">Автомобил:</label>
        <input class="form-control" type="text" name="vechile" id="vechile">
      </div>
      <div class="form-group" >
        <label for="phone">Телефон:</label>
        <input class="form-control" type="text" name="phone" id="phone">
      </div>

      <div class="form-group">
        <label for="comment">Коментар:</label>
        <textarea class="form-control" name="comment" id="" cols="30" rows="10"></textarea>
      </div>

      <input type="hidden" name="userId" id="userId" value="<%= userId %>">

      <button type="submit">Додај превоз</button>
    </form>
  </div>
  
<%- include('../includes/end.ejs') %></input>