<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
    <div class="transports-container">
      <div class="table-wrapper">
        <table class="table transports-table">
            <!-- TODO ADD PAGINATION FOR DAYS -->
            <h3 class="text-center"><%= new Date %></h3>
              <thead class="thead-dark">
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Поаѓање од:</th>
                  <th scope="col">Пристигнување во:</th>
                  <th scope="col">Час</th>
                  <th scope="col">Цена</th>
                </tr>
              </thead>
            <tbody>
              <% transports.forEach(t=> { %>
                  <tr>
                    <!-- <th scope="row">1</th> -->
                    <td><%= t.from %></td>
                    <td><%= t.to %></td>
                    <td><%= t.date %></td>
                    <td><%= t.price %> ден.</td>
                  </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
<%- include('../includes/end.ejs') %>